.wrapper{
    
    background:#aaa;
    max-width: 100%;
    padding: 20px;
    margin: 0 auto;
    
}

.wrapper:after{
    
    content: "";
    display: block;
    clear: both;
}


img{

    padding-top: 16.4px;

    padding-right: 12px;
    float: right;
    
} 

p{
   
    background:thistle;
 
    line-height: 1.56em;
    padding: 15px;
}

.service h2, .service p{
    color: blue;
    margin: 10px, 0;
    text-align: center;

}

.service{
    float: left;
    background-color: cornflowerblue;
    width: 29%;
    margin: 1%;
    padding: 1%;   
    height: 140px;
    position: relative;
}

.services:after{
  
    content: "";
    display: block;
    clear: both;

}

.service:nth-child(1){
    top: 25px;
}

.service:nth-child(2):hover{
    top: 25px;
    pointer-events: stroke;
}

.service:nth-child(3){
    top: 25px;
}

.content{
    float: left;
    padding: 10px;
    background-color: aqua;
    clear: both;
    margin-top: 10px;
   
}

.content p{
   
    column-count: 4;
    -webkit-column-gap: 50px;
    column-gap: 35px;
    -webkit-column-rule: 1px solid #ccc;
    column-rule: 1px solid #ccc;
    text-align: justify;
}

section , aside{
    margin: 10px;
    width: 46%;
    float: left;
}


aside .image2{
    margin-top: 6%;

}
.column:after{
    display: block;
    content: "";
    clear: both;
}