.wrapper{
    
    background:#aaa;
    max-width: 100%;
    padding: 20px;
    margin: 0 auto;
    
}


.wrapper:after{
    
    content: "";
    display: block;
    clear: both;
}


img{

    padding-top: 16.4px;

    padding-right: 12px;
    float: inherit;
    
}

p{
   
    background: #fff;
  
 
    line-height: 1.56em;
    padding: 15px;
}