.wrapper{
    
    background:#aaa;
    max-width: 100%;
    padding: 20px;
    margin: 0 auto;
    
}


.wrapper:after{
    
    content: "";
    display: block;
    clear: both;
}


img{

    padding-top: 16.4px;

    padding-right: 12px;
    float: right;
    
}

 p{
   
    background:thistle;
  
 
    line-height: 1.56em;
    padding: 15px;
}


.services h2, .services p{
    color: blue;
    margin: 10px, 0;
    text-align: center;
}

.services{
    float: left;
    background-color: cornflowerblue;
    width: 29%;
    margin: 1%;
    padding: 1%;
    
height: 140px;
}